# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*.local

# Editor & IDE
.vscode/settings.json
.vscode/launch.json
*.swp
*.swo
*~
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
*.temp
*~

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
